<h1 style="color: #181642" class="text-center mb-3">Post Job</h1>
<form action="/postnewjob" method="post">
  <div class="mb-3">
    <label for="id" class="form-label">ID</label>
    <input type="text" class="form-control" id="id" name="id" />
  </div>

  <div class="mb-3">
    <label for="jobCategory" class="form-label">jobCategory</label>
    <input
      type="text"
      class="form-control"
      id="jobCategory"
      name="jobCategory"
    />
  </div>

  <div class="mb-3">
    <label for="jobDesignation" class="form-label">jobDesignation</label>
    <input
      type="text"
      class="form-control"
      id="jobDesignation"
      name="jobDesignation"
      step="0.01"
    />
  </div>

  <div class="mb-3">
    <label for="jobLocation" class="form-label">jobLocation</label>
    <input
      type="text"
      class="form-control"
      id="jobLocation"
      name="jobLocation"
      step="0.01"
    />
  </div>

  <div class="mb-3">
    <label for="companyName" class="form-label">companyName</label>
    <input
      type="text"
      class="form-control"
      id="companyName"
      name="companyName"
      step="0.01"
    />
  </div>

  <div class="mb-3">
    <label for="salary" class="form-label">salary</label>
    <input
      type="text"
      class="form-control"
      id="salary"
      name="salary"
      step="0.01"
    />
  </div>

  <div class="mb-3">
    <label for="applyBy" class="form-label">applyBy</label>
    <input
      type="text"
      class="form-control"
      id="applyBy"
      name="applyBy"
      step="0.01"
    />
  </div>

  <div class="mb-3">
    <label for="skillsRequired" class="form-label">skillsRequired</label>
    <input
      type="text"
      class="form-control"
      id="skillsRequired"
      name="skillsRequired"
      step="0.01"
    />
  </div>

  <div class="mb-3">
    <label for="numberOfOpening" class="form-label">numberOfOpening</label>
    <input
      type="number"
      class="form-control"
      id="numberOfOpening"
      name="numberOfOpening"
      step="0.01"
    />
  </div>

  <div class="mb-3">
    <label for="jobPosted" class="form-label">jobPosted</label>
    <input
      type="text"
      class="form-control"
      id="jobPosted"
      name="jobPosted"
      step="0.01"
    />
  </div>

  <div class="mb-3">
    <label for="applicants" class="form-label">applicants</label>
    <input
      type="number"
      class="form-control"
      id="applicants"
      name="applicants"
      step="0.01"
    />
  </div>

  <button type="submit" class="btn btn-primary">Post Job</button>
</form>
