<h1 style="color: #181642" class="text-center mb-3">Applyin for Job</h1>
<form action="/applyjob" method="post">
  <div class="mb-3">
    <label for="Description" class="form-label">Description</label>
    <input
      type="text"
      class="form-control"
      id="Description"
      name="Description"
    />
  </div>

  <button type="submit" class="btn btn-primary">Apply for Job</button>
</form>
